{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock title %}

{% block content %}



    {{ article.id }}
    {{ article.author }}
    {{ article.title }}
    {{ article.created_at }}
    {{ article.text }}


    <div>
        {% if list_articles %}
            {% for article in list_articles %}
                <div class="post-container">
                    <div id="{{ article.id }}" class="post">
                        <div class="alert alert-secondary">
                            <h3> {{ article.title }} </h3>
                            <h4 style="text-align: right;"> {{ article.author }}</h4>
                        </div>

                        <p class="text-pre-post"> {{ article.text }} </p>

                        <a href="/detail/{{article.id}}"><button class="btn btn-secondary">Перейти к статье</button></a>

                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>


    {% verbatim %}
    <div class="container" id="app_art_page">
        <div class="btn btn-success btn-lg" v-for="article in articles">
            author: {{ article.author}}<br>
            title: {{ article.title }}<br>
            data time: {{ article.created_at }}<br>
        </div>
        <br><br>

    </div>
    {% endverbatim %}



{% endblock content %}
